@model IEnumerable<CosmeticsWeb.Models.EF.Info>

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CosmeticName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CosmeticType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CosmeticName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CosmeticType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description) 
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>

        </tr>
    }

</table>
